Template/step-functions/step-functions.yml
AWSTemplateFormatVersion: '2010-09-09'
Description: StepFunctions for Template

Parameters:
  SystemName:
    Type: String
    AllowedPattern: '[a-zA-Z0-9-]*'
  EnvType:
    Description: Environment type.
    Type: String
    Default: dev
    AllowedValues: [all, dev, stg, prod]
    ConstraintDescription: must specify all, dev, stg, or prod.
  StateMachineType:
    Description: StateMachine type.
    Type: String
    Default: STANDARD
    AllowedValues: [STANDARD, EXPRESS]
    ConstraintDescription: must specify STANDARD or EXPRESS.
  isIncludeExecutionData:
    Description: StateMachine IncludeExecutionData.
    Type: String
    Default: false
    AllowedValues: [false, true]
    ConstraintDescription: must specify false or true.
  isAssignPublicIp:
    Type: String
    AllowedValues: [ENABLED, DISABLED]

Mappings:
  AzMap:
    ap-northeast-1:
      1st: ap-northeast-1a
      2nd: ap-northeast-1c
      3rd: ap-northeast-1d

Resources:
  # StateMachine 作成
  # TemplateECSRunTask
  # ECSRunTask (Error ReRun:5)
  StepFunctionsStateMachineTemplateECSRunTask: # リソース名適宜変更
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub
        - ${SystemName}-${EnvType}-state-machine-template-ecsruntask # 末尾リソース名
        - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
      DefinitionString: !Sub
        - |
          {
            "Comment": "ECSRunTask",
            "StartAt": "ECSRunTask",
            "States": {
              "ECSRunTask": {
                "Type": "Task",
                "Resource": "arn:aws:states:::ecs:runTask.sync",
                "InputPath": "$",
                "Parameters": {
                  "LaunchType": "FARGATE",
                  "Cluster": "${ECS_CLUSTER_ARN}",
                  "TaskDefinition": "${ECS_TASK_DEF_ARN}",
                  "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                      "AssignPublicIp": "${IS_ASSIGN_PUBLIC_IP}",
                      "SecurityGroups": [
                        "${SECURITY_GROUPS}"
                      ],
                      "Subnets": [
                        "${SUBNETS}"
                      ]
                    }
                  }
                },
                "End": true,
                "Retry": [
                  {
                    "ErrorEquals": [
                      "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "BackoffRate": 1,
                    "MaxAttempts": 5
                  }
                ]
              }
            }
          }
        - {
            REGION: !Ref AWS::Region,
            ACCOUNT_ID: !Ref AWS::AccountId,
            SYSTEM_NAME: !Ref SystemName,
            ENV_TYPE: !Ref EnvType,
            ECS_TASK_DEF_ARN:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-def-template-arn'}, # タスク定義設定
            ECS_CLUSTER_ARN:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-cluster-arn'}, # ECSクラスター設定
            IS_ASSIGN_PUBLIC_IP: !Ref isAssignPublicIp,
            SECURITY_GROUPS:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-sg'},
            SUBNETS:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-public-subnet1'}, # サブネット設定
          }
      RoleArn:
        Fn::ImportValue: !Sub
          - ${SystemName}-${EnvType}-role-step-functions-${AWS::Region}
          - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
      StateMachineType: !Ref StateMachineType
      LoggingConfiguration:
        IncludeExecutionData: !Ref isIncludeExecutionData
        Level: 'OFF'
      Tags:
        - Key: Name
          Value: !Sub
            - ${SystemName}-${EnvType}-state-machine-template-ecsruntask # 末尾リソース名
            - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
        - Key: SystemName
          Value: !Ref SystemName
        - Key: EnvType
          Value: !Ref EnvType

  # TemplateECSRunTask2Flow
  # ECSRunTask2Flow (Error ReRun:5)
  StepFunctionsStateMachineTemplateECSRunTask2Flow: # リソース名適宜変更
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub
        - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-2flow # 末尾リソース名
        - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
      DefinitionString: !Sub
        - |
          {
            "Comment": "ECSRunTask1",
            "StartAt": "ECSRunTask1",
            "States": {
              "ECSRunTask1": {
                "Type": "Task",
                "Resource": "arn:aws:states:::ecs:runTask.sync",
                "InputPath": "$",
                "Parameters": {
                  "LaunchType": "FARGATE",
                  "Cluster": "${ECS_CLUSTER_ARN}",
                  "TaskDefinition": "${ECS_TASK_DEF_ARN}",
                  "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                      "AssignPublicIp": "${IS_ASSIGN_PUBLIC_IP}",
                      "SecurityGroups": [
                        "${SECURITY_GROUPS}"
                      ],
                      "Subnets": [
                        "${SUBNETS}"
                      ]
                    }
                  }
                },
                "Next": "ECSRunTask2",
                "Retry": [
                  {
                    "ErrorEquals": [
                      "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "BackoffRate": 1,
                    "MaxAttempts": 5
                  }
                ]
              },
              "ECSRunTask2": {
                "Type": "Task",
                "Resource": "arn:aws:states:::ecs:runTask.sync",
                "InputPath": "$",
                "Parameters": {
                  "LaunchType": "FARGATE",
                  "Cluster": "${ECS_CLUSTER_ARN}",
                  "TaskDefinition": "${ECS_TASK_DEF_ARN}",
                  "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                      "AssignPublicIp": "${IS_ASSIGN_PUBLIC_IP}",
                      "SecurityGroups": [
                        "${SECURITY_GROUPS}"
                      ],
                      "Subnets": [
                        "${SUBNETS}"
                      ]
                    }
                  }
                },
                "End": true,
                "Retry": [
                  {
                    "ErrorEquals": [
                      "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "BackoffRate": 1,
                    "MaxAttempts": 5
                  }
                ]
              }
            }
          }
        - {
            REGION: !Ref AWS::Region,
            ACCOUNT_ID: !Ref AWS::AccountId,
            SYSTEM_NAME: !Ref SystemName,
            ENV_TYPE: !Ref EnvType,
            ECS_TASK_DEF_ARN:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-def-template-arn'}, # タスク定義設定
            # ECS_TASK_DEF_ARN_1:
            #   {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-def-template-task1-arn'},
            # ECS_TASK_DEF_ARN_2:
            #   {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-def-template-task2-arn'},
            ECS_CLUSTER_ARN:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-cluster-arn'}, # ECSクラスター設定
            IS_ASSIGN_PUBLIC_IP: !Ref isAssignPublicIp,
            SECURITY_GROUPS:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-sg'},
            SUBNETS:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-public-subnet1'}, # サブネット設定
          }
      RoleArn:
        Fn::ImportValue: !Sub
          - ${SystemName}-${EnvType}-role-step-functions-${AWS::Region}
          - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
      StateMachineType: !Ref StateMachineType
      LoggingConfiguration:
        IncludeExecutionData: !Ref isIncludeExecutionData
        Level: 'OFF'
      Tags:
        - Key: Name
          Value: !Sub
            - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-2flow # 末尾リソース名
            - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
        - Key: SystemName
          Value: !Ref SystemName
        - Key: EnvType
          Value: !Ref EnvType

  # TemplateECSRunTaskSNSPublish
  # ECSRunTask (Error ReRun:5 Error SNS:Publish)
  StepFunctionsStateMachineTemplateECSRunTaskSNSPublish:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub
        - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-sns-publish
        - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
      DefinitionString: !Sub
        - |
          {
            "Comment": "ECSRunTask",
            "StartAt": "ECSRunTask",
            "States": {
              "ECSRunTask": {
                "Type": "Task",
                "Resource": "arn:aws:states:::ecs:runTask.sync",
                "InputPath": "$",
                "Parameters": {
                  "LaunchType": "FARGATE",
                  "Cluster": "${ECS_CLUSTER_ARN}",
                  "TaskDefinition": "${ECS_TASK_DEF_ARN}",
                  "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                      "AssignPublicIp": "${IS_ASSIGN_PUBLIC_IP}",
                      "SecurityGroups": [
                        "${SECURITY_GROUPS}"
                      ],
                      "Subnets": [
                        "${SUBNETS}"
                      ]
                    }
                  }
                },
                "Retry": [
                  {
                    "ErrorEquals": [
                      "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "BackoffRate": 1,
                    "MaxAttempts": 5
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": [
                      "States.ALL"
                    ],
                    "Next": "SNS Publish"
                  }
                ],
                "End": true
              },
              "SNS Publish": {
                "Type": "Task",
                "Resource": "arn:aws:states:::sns:publish",
                "Parameters": {
                  "Message.$": "$",
                  "TopicArn": "${TOPIC_ARN}"
                },
                "End": true
              }
            }
          }
        - {
            REGION: !Ref AWS::Region,
            ACCOUNT_ID: !Ref AWS::AccountId,
            SYSTEM_NAME: !Ref SystemName,
            ENV_TYPE: !Ref EnvType,
            ECS_TASK_DEF_ARN:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-def-template-arn'}, # タスク定義設定
            ECS_CLUSTER_ARN:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-cluster-arn'}, # ECSクラスター設定
            IS_ASSIGN_PUBLIC_IP: !Ref isAssignPublicIp,
            SECURITY_GROUPS:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-ecs-sg'},
            SUBNETS:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-private-subnet1'}, # サブネット設定
            TOPIC_ARN:
              {'Fn::ImportValue': !Sub '${SystemName}-${EnvType}-sns-topic-step-functions-arn'}, # SNSトピック設定
          }
      RoleArn:
        Fn::ImportValue: !Sub
          - ${SystemName}-${EnvType}-role-step-functions-${AWS::Region}
          - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
      StateMachineType: !Ref StateMachineType
      LoggingConfiguration:
        IncludeExecutionData: !Ref isIncludeExecutionData
        Level: 'OFF'
      Tags:
        - Key: Name
          Value: !Sub
            - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-sns-publish
            - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
        - Key: SystemName
          Value: !Ref SystemName
        - Key: EnvType
          Value: !Ref EnvType
  # ↓追加ECSTaskDefinitionのResources

Outputs:
  # TemplateECSRunTask
  StepFunctionsStateMachineTemplateECSRunTaskName: # {リソース名} + 'Name'
    Value: !GetAtt StepFunctionsStateMachineTemplateECSRunTask.Name # {リソース名}.Name
    Export:
      Name: !Sub
        - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-name # {末尾リソース名} + "-name"
        - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
  StepFunctionsStateMachineTemplateECSRunTaskArn: # {リソース名} + 'Arn'
    Value: !Ref StepFunctionsStateMachineTemplateECSRunTask # リソース名
    Export:
      Name: !Sub
        - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-arn # {末尾リソース名} + "-arn"
        - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
  # TemplateECSRunTask2Flow
  StepFunctionsStateMachineTemplateECSRunTask2FlowName: # {リソース名} + 'Name'
    Value: !GetAtt StepFunctionsStateMachineTemplateECSRunTask2Flow.Name # {リソース名}.Name
    Export:
      Name: !Sub
        - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-name # {末尾リソース名} + "-name"
        - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
  StepFunctionsStateMachineTemplateECSRunTask2FlowArn: # {リソース名} + 'Arn'
    Value: !Ref StepFunctionsStateMachineTemplateECSRunTask2Flow # リソース名
    Export:
      Name: !Sub
        - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-arn # {末尾リソース名} + "-arn"
        - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
  # TemplateECSRunTaskSNSPublish
  StepFunctionsStateMachineTemplateECSRunTaskSNSPublishName: # {リソース名} + 'Name'
    Value: !GetAtt StepFunctionsStateMachineTemplateECSRunTaskSNSPublish.Name # {リソース名}.Name
    Export:
      Name: !Sub
        - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-name # {末尾リソース名} + "-name"
        - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
  StepFunctionsStateMachineTemplateECSRunTaskSNSPublishArn: # {リソース名} + 'Arn'
    Value: !Ref StepFunctionsStateMachineTemplateECSRunTaskSNSPublish # リソース名
    Export:
      Name: !Sub
        - ${SystemName}-${EnvType}-state-machine-template-ecsruntask-arn # {末尾リソース名} + "-arn"
        - {SystemName: !Ref SystemName, EnvType: !Ref EnvType}
  # ↓追加ECSTaskDefinitionのOutputs
